# Unit 01
---

Date: 2017-02-09

In [3]:
# sum_square

In [7]:
# sum_square -> calcuate square of sum of two numbers
54+73

127

+ is addition operation

In [6]:
127**2

16129

**\*\*** is power operator

In [11]:
first_num=59
second_num=87

**first_num** and **second_num** are called a variable.

In [12]:
square_of=(first_num+second_num)**2

In [13]:
print(square_of)

21316

In [14]:
# 3.14 is a float
pi=3.14

In [15]:
area_of_circle=2*pi*(3**2)

In [17]:
print(area_of_circle)

56.52

Python automatically converts **intergers** (like *2* and *3* above) to **float** (like *3.14*)

Such conversion are call type conversion ( or *type casting*)

In [18]:
name='Harry Potter'

In [19]:
address="London"

In [20]:
name+address

'Harry PotterLondon'

adding two strings together is called **Concatenation**

In [21]:
name*address

TypeError: can't multiply sequence by non-int of type 'str'

In [22]:
name*4

'Harry PotterHarry PotterHarry PotterHarry Potter'

Incase of string __*__ is called *Repitition Operator*

In [23]:
print('leapfrog')

leapfrog

In [24]:
87-65

22

In [25]:
#Division Operator
2/3

0.6666666666666666

- Real Division

In [26]:
2//3

0

- Interger Division

In [28]:
2.0//3

0.0

In [29]:
float(2)

2.0

- Explicit conversion

In [30]:
8%3

2

- Modulus operator

In [31]:
int(3.9)

3

In [32]:
str(3)

'3'

## HW
- Addition
- Substraction
- Division
    - Float
    - Integer
- Remainder
- Power